<app-konektilo-header title="OPC-UA Browser"></app-konektilo-header>

<ion-content>
  <div class="container">
    <div class="left-width">
      <ion-list>
        <ion-button (click)="onOpcUaServerClick(undefined)" expand="block">all</ion-button>
        <ion-button (click)="onOpcUaServerClick(opcUaServer)" *ngFor="let opcUaServer of opcUaServers" expand="block">
          {{opcUaServer}}
        </ion-button>
      </ion-list>
    </div>
    <div class="right-width">
      <app-subscription-node-card *ngFor="let subscriptionNode of selectedSubsNode"
                                  [subscriptionNode]="subscriptionNode">
      </app-subscription-node-card>
    </div>
  </div>
</ion-content>
