.container {
  display: flex;
  height: 100%;
}

.right-width {
  flex: 0 1 50%;
  align-content: flex-start;
}

.left-width {
  flex: 1 0 50%;
  border-right: 2px solid var(--ion-tab-bar-border-color, var(--ion-border-color, var(--ion-color-step-150, rgba(0, 0, 0, 0.07))));
}
