<app-konektilo-header title="OPC-UA Browser"></app-konektilo-header>

<ion-content>
  <div class="container">
    <div class="left-width">
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label class="customLabel">Configure connection to konektilo</ion-label>
              <ion-badge *ngIf="connectionSuccessful" color="primary" slot="end">Connected</ion-badge>
              <ion-badge *ngIf="!connectionSuccessful" color="danger" slot="end">Disconnected</ion-badge>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label>konektilo URL:</ion-label>
              <ion-input [(ngModel)]="konektiloUrlInput" type="url" autocorrect="off" class="urlInput"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label class="customLabel">optional</ion-label>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label>user</ion-label>
              <ion-input [(ngModel)]="konektiloUserInput" type="url" autocorrect="off" class="urlInput"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label>password</ion-label>
              <ion-input [(ngModel)]="konektiloPasswordInput" type="url" autocorrect="off" class="urlInput"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-button (click)="saveAndConnectToKonektilo()">Save & connect</ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>

    <div class="right-width">
      <p>
        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et
        dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet
        clita
        kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur
        sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam
        voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata
        sanctus est Lorem ipsum dolor sit amet.
      </p>
      <p>
        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et
        dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet
        clita
        kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur
        sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam
        voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata
        sanctus est Lorem ipsum dolor sit amet.
      </p>
    </div>
  </div>
</ion-content>
