<ion-list-header>
  <ion-label>Node data</ion-label>
  <ion-button (click)="updateData()">
    <ion-icon slot="end" name="refresh-circle"></ion-icon>
  </ion-button>
</ion-list-header>
<ion-list>
  <ion-item>
    <ion-label>Display name</ion-label>
    <ion-label color="primary">{{fullNode?.result.variableDisplayname}}</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Node id</ion-label>
    <ion-label color="primary">{{browseNode?.nodeId}}</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Data</ion-label>
    <ion-label color="primary">{{fullNode?.result.variableData}}</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Data type</ion-label>
    <ion-label color="primary">{{fullNode?.result.variableType}}</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Status code</ion-label>
    <ion-label color="primary">{{fullNode?.result.variableStatusCode}}</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Request successful</ion-label>
    <ion-label color="primary">{{fullNode?.success}}</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Request description</ion-label>
    <ion-label color="primary">{{fullNode?.description}}</ion-label>
  </ion-item>
</ion-list>
