<ion-item lines="none">
  <ion-label color="primary">Node data</ion-label>
  <ion-button [cdkCopyToClipboard]="browseNode?.accessUrl" (click)="showCopyToast()"
              tooltip="Copy konektilo URL for node"
              positionV="bottom"
              [disabled]="buttonsDisabled">
    <ion-icon name="copy"></ion-icon>
  </ion-button>
  <ion-button (click)="updateData()" tooltip="Refresh node data" positionV="bottom" [disabled]="buttonsDisabled">
    <ion-icon name="refresh-circle"></ion-icon>
  </ion-button>
  <ion-button [fill]="favoriteButtonStyle" (click)="onAddRemoveFavorites()" tooltip="Add node to favorites" positionV="bottom" [disabled]="buttonsDisabled">
    <ion-icon name="star"></ion-icon>
  </ion-button>
  <ion-button [fill]="subscriptionButtonStyle" (click)="onAddRemoveSubscriptions()" tooltip="Add node to subscriptions" positionV="bottom" [disabled]="buttonsDisabled">
    <ion-icon name="pulse"></ion-icon>
  </ion-button>
</ion-item>
<ion-list>
  <ion-item>
    <ion-label>Display name</ion-label>
    <ion-label color="primary" class="ion-text-wrap">{{fullNode?.result.variableDisplayname}}</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Node id</ion-label>
    <ion-label color="primary" class="ion-text-wrap">{{fullNode?.result.nodeId}}</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Data</ion-label>
    <ion-label color="primary" class="ion-text-wrap">{{dataToDisplay}}</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Data type</ion-label>
    <ion-label color="primary">{{fullNode?.result.variableType}}</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Status code</ion-label>
    <ion-label color="primary">{{fullNode?.result.variableStatusCode}}</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Server timestamp</ion-label>
    <ion-label color="primary">{{fullNode?.result.serverTimeStamp | date: 'HH:mm:ss.SSS, MM.dd.y'}}</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Source timestamp</ion-label>
    <ion-label color="primary">{{fullNode?.result.sourceTimeStamp | date: 'HH:mm:ss.SSS, MM.dd.y'}}</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Request successful</ion-label>
    <ion-label color="primary">{{fullNode?.success}}</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Request description</ion-label>
    <ion-label color="primary">{{fullNode?.description}}</ion-label>
  </ion-item>
</ion-list>
