<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-card-title class="konektiloTitle">OPC-UA Browser</ion-card-title>
          </ion-col>
          <ion-col>
            <ion-img class="logoStyle" src="./assets/konektilo-logo.png"></ion-img>
          </ion-col>
        </ion-row>
      </ion-grid>

    </ion-card-header>
  </ion-card>
  <ion-card>
    <ion-grid>
      <ion-row>
        <ion-segment scrollable>
          <ion-col>
            <ion-item>
              <ion-label>OPC-UA Server</ion-label>
              <ion-select interface="popover" [(ngModel)]="selectedOpcUaServer" [compareWith]="compareOpcUaServer"
                          (ionChange)="selectOpcUaServer()">
                <ion-select-option *ngFor="let server of opcUaServer"
                                   [value]="server">{{server.name}}</ion-select-option>
              </ion-select>
            </ion-item>
          </ion-col>
          <ion-col>
            <ion-item>
              <ion-label>Folder</ion-label>
              <ion-select interface="popover" [(ngModel)]="selectedRootNode" [compareWith]="compareBrowseNodes"
                          [disabled]="selectRootNodeDisabled"
                          (ionChange)="selectRootNode($event.detail.value)">
                <ion-select-option *ngFor="let folder of rootNodes"
                                   [value]="folder">{{folder.displayName}}</ion-select-option>
              </ion-select>
            </ion-item>
          </ion-col>
        </ion-segment>
      </ion-row>
      <ion-row>
        <ion-segment scrollable>
          <ion-col>
            <ion-segment (ionChange)="onNodeChange($event.detail.value)" [(ngModel)]="selectedNavbarNode">
              <ion-segment-button [value]="selectedRootNode" (click)="selectRootNode(selectedRootNode)">
                <ion-icon name="home"></ion-icon>
              </ion-segment-button>
              <ion-segment-button *ngFor="let konektiloBrowseNode of browsingHistory" [value]="konektiloBrowseNode"
                                  layout="icon-start">
                <ion-icon name="caret-forward"></ion-icon>
                <ion-label>{{konektiloBrowseNode.displayName}}</ion-label>
              </ion-segment-button>
            </ion-segment>
          </ion-col>
        </ion-segment>
      </ion-row>
    </ion-grid>
    <mat-divider></mat-divider>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-list-header>
            <ion-label>{{selectedRootNode?.name}}</ion-label>
          </ion-list-header>
          <ion-list *ngFor="let visibleNode of visibleNodes">
            <ion-item detail="true" (click)="browseChildren(visibleNode)">
              <ion-label>{{visibleNode.displayName}}</ion-label>
              <ion-icon *ngIf="visibleNode.class === 1" name="folder" slot="start"></ion-icon>
              <ion-icon *ngIf="visibleNode.class === 2" name="document-text" slot="start"></ion-icon>
              <ion-icon *ngIf="visibleNode.class === 4" name="build" slot="start"></ion-icon>
              <ion-icon *ngIf="visibleNode.class !== 1 && visibleNode.class !== 2 && visibleNode.class !== 4"
                        name="cube" slot="start"></ion-icon>
              <ion-button *ngIf="visibleNode.class === 2 || visibleNode.class === 4" [cdkCopyToClipboard]="visibleNode.accessUrl" (click)="$event.stopPropagation();">
                <ion-icon name="copy-outline"></ion-icon>
              </ion-button>
            </ion-item>
          </ion-list>
        </ion-col>
        <ion-col>
          <ion-list-header>
            <ion-label>Atributes</ion-label>
          </ion-list-header>
          <ion-list>
            <ion-item>
              <ion-label>Value</ion-label>
              <ion-label color="primary">1000</ion-label>
            </ion-item>
            <ion-item>
              <ion-label>Mega Man X</ion-label>
            </ion-item>
            <ion-item>
              <ion-label>The Legend of Zelda</ion-label>
            </ion-item>
            <ion-item>
              <ion-label>Pac-Man</ion-label>
            </ion-item>
            <ion-item>
              <ion-label>Super Mario World</ion-label>
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
</ion-content>
