#container {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;
  color: #8c8c8c;
  margin: 0;
}

#container a {
  text-decoration: none;
}

.logoStyle {
  width: 200px;
  margin: 15px 15px 15px 0;
}

.konektiloTitle {
  color: #040f3d;
  font-family: "Rubik Bold", sans-serif;
  margin-top: 15px;
}

.urlInput {
  color: #040f3d;
  min-width: 250px;
}

.urlInputLabel {
  color: #19B814;
  font-family: "Rubik Bold", sans-serif;
  font-weight: bold;
}
